# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# PROJECT IGNORES
#ignore all files in node_modules dir
node_modules/*

#also ignore all folders in the node_modules dir
node_modules/

#do not ignore package.json for now
#package.json

#ignore server logs
logs/*
logs/

#ignore file uploads
user_profile_uploads/*

#ignore resources directory
resources/

#ignore renderer directory. final directory for bundling angular
renderer/

#hidden directory stays local
hidden/

#any older folder
older/

#electron uglify for final build and renderer source map
electron-uglify/
renderer-source-map/
